.frineds__header-bar {
  background-color: var(--main-light);
  text-align: center;
  padding: var(--divide-margin) 0;
  margin-bottom: var(--divide-margin);
}

.frineds__header-bar span {
  margin-right: 5px;
}